html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
img{
	width: 100%;
	height: auto;
	display: block;
}
.showDom{
	opacity: 1 !important;
}
.hiddenDom{
	opacity: 0 !important;
	display: none;
}
.order{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	background-color: #eeeeee;
}
.orderTab{
	font-size: 0;
	z-index: 2;
	top: 0;
	left: 0;
	background: rgb(251,219,79);
	width: 100%;
	height: 1.093333rem;
	box-sizing: border-box;
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	position: absolute;
	background-image: url(../img/user-bg.png);
	background-size: 100% 100%;
}
.active>span{
	color:#ffffff !important;
}
.orderTabList{
	padding: 0.133333rem 0;
	width: 33.3%;
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
  	text-align: center;
  	box-sizing: border-box;
}
.orderTabList>span{
	display: inline-block;
	width: 100%;
	line-height: 0.826666rem;
	font-size: 0.426666rem;
  	color: rgba(255,255,255,.6);
  	border-right: 1px solid rgb(255,255,255);
}
.orderList{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
}
.orderList2,.orderList1,.orderList0{
	display: none;
	margin-top: 1.093333rem;
	box-sizing: border-box;
	transition: all 400ms ease-in-out;
}
.minirefresh-downwrap{
	background: #FFFFFF;
}
.minirefresh-scroll{
	min-height: 100%;
	background-color: #eeeeee;
	/*position: relative;*/
}
.data-list{
	width: 100%;
	padding: 0.266666rem 0.48rem;
	box-sizing: border-box;
	background-color: #eeeeee;
	min-height: 100%;
}
/*进行中*/
.noOrder{
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	width: 100%;
	text-align: center;
}
.noOrderImg{
	width: 21.33%;
    margin: 0 auto 0.682666rem auto;
}
.noOrderText{
	text-align: center;
    font-size: 0.426666rem;
    letter-spacing: -0.4px;
    color: #333333;
}
.orderListNow{
	width: 100%;
	border-radius: 0.213333rem;
  	background-color: #ffffff;
  	font-size: 0;
  	padding:0.453333rem 0.32rem 0.32rem 0.32rem;
  	box-sizing: border-box;
  	margin-bottom: 0.346666rem;
  	background-image: url(../img/order-cardBg.png);
  	background-size: cover;
}
.orderListNowTitle{
	font-size: 0.586666rem;
	color: #060606;
	margin-bottom: 0.4rem;
}
.orderListNowContent{
	width: 100%;
}
.orderListNowContentPlace,.orderListNowContentTime,.orderListNowContentMoney{
	width: 100%;
	font-size: 0;
}
.orderListNowContentPlace{
	margin-bottom: 0.4rem;
}
.orderListNowContentTime{
	margin-bottom: 0.346666rem;
}
.orderListNowContentIcon{
	display: inline-block;
	vertical-align: middle;
	width: 0.4rem;
	margin-right: 0.613333rem;
}
.orderListNowContentText{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: #606060;
}
.orderListNowContentMoney>.orderListNowContentText{
	color: #80ce25;
}
/*已完成*/
.orderListDone{
	width: 100%;
	border-radius: 0.213333rem;
  	background-color: #ffffff;
  	font-size: 0;
  	padding:0.133333rem  0.4rem 0 0.4rem;
  	box-sizing: border-box;
  	margin-bottom: 0.346666rem;
}
.orderListDoneBorrow{
	width: 100%;
	padding:0.346666rem 0.293333rem 0.453333rem 0.293333rem;
	box-sizing: border-box;
	border-bottom:1px solid rgba(0, 0, 0, 0.3);
}
.orderListDoneReturn{
	width: 100%;
	padding:0.186666rem 0.293333rem 0.453333rem 0.293333rem;
	box-sizing: border-box;
}
.orderListDoneBorrowId,
.orderListDoneBorrowPlace,
.orderListDoneBorrowTime,
.orderListDoneReturnId,
.orderListDoneReturnPlace,
.orderListDoneReturnTime{
	width: 100%;
	font-size: 0;
}
.orderListDoneBorrowId,.orderListDoneReturnId{
	margin-bottom: 0.16rem;
}
.orderListDoneBorrowPlace,.orderListDoneReturnPlace{
	margin-bottom: 0.213333rem;
}
.orderListDoneBorrowId>span:nth-of-type(1),
.orderListDoneBorrowPlace>span:nth-of-type(1),
.orderListDoneBorrowTime>span:nth-of-type(1),
.orderListDoneReturnId>span:nth-of-type(1),
.orderListDoneReturnPlace>span:nth-of-type(1),
.orderListDoneReturnTime>span:nth-of-type(1)
{
	width: 34.18%;
	display: inline-block;
	vertical-align: middle;
}
.orderListDoneBorrowId>span:nth-of-type(1){
	font-size: 0.586666rem;
	color: #f5a623;
}
.orderListDoneReturnId>span:nth-of-type(1){
	font-size: 0.586666rem;
	color: #71c515;
}
.orderListDoneBorrowPlace>span:nth-of-type(1),
.orderListDoneBorrowTime>span:nth-of-type(1),
.orderListDoneReturnPlace>span:nth-of-type(1),
.orderListDoneReturnTime>span:nth-of-type(1)
{
	font-size: 0.426666rem;
	color: rgba(0, 0, 0, 0.6);
}
.orderListDoneBorrowId>span:nth-of-type(2),
.orderListDoneBorrowPlace>span:nth-of-type(2),
.orderListDoneBorrowTime>span:nth-of-type(2),
.orderListDoneReturnId>span:nth-of-type(2),
.orderListDoneReturnPlace>span:nth-of-type(2),
.orderListDoneReturnTime>span:nth-of-type(2)
{
	font-size: 0.426666rem;
	width: 65.82%;
	color:  rgba(0, 0, 0, 0.39);
	display: inline-block;
	vertical-align: middle;
}
.orderListDoneMore{
	margin-top: 0.346666rem;
	text-align: center;
	font-size: 0.373333rem;
	color: #000000;
	opacity: 0.6;
}
/*未支付*/
.orderListNoPay{
	width: 100%;
	border-radius: 0.213333rem;
  	background-color: #ffffff;
  	font-size: 0;
}
.orderListNoPayContent{
	width: 77%;
	display: inline-block;
	vertical-align: middle;
	padding: 0.24rem 0 0.186666rem 0.64rem;
	box-sizing: border-box;
}
.orderListNoPayContentTime{
	font-size: 0.426666rem;
	color: #000000;
	margin-bottom: 0.08rem;
	width: 100%;
	position: relative;
}
.orderListNoPayContentTime:after{
	position: absolute;
	content: "";
	left:-0.426666rem;
	width: 0.213333rem;
	height: 0.213333rem;
	background-color: #ff4f4f;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.orderListNoPayContentMoney,.orderListNoPayContentPower{
	font-size: 0.32rem;
	color: rgba(0, 0, 0, 0.39);
}
.orderListNoPayContentMoney{
	margin-bottom: 0.106666rem;
}
.orderListNoPayContentMoney>span:nth-of-type(1),.orderListNoPayContentPower>span:nth-of-type(1){
	margin-right: 0.32rem;
}
.orderListNoPayBtn{
	width: 23%;
	display: inline-block;
	vertical-align: middle;
	background-color: #ff576b;
	/*background-color: #334681;*/
	color: #FFFFFF;
	font-size: 0.48rem;
	text-align: center;
	line-height: 2.133333rem;
	border-top-right-radius: 0.213333rem;
	border-bottom-right-radius: 0.213333rem;
}
/*user page*/
.user{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #FFFFFF;
	position: relative;
}
.userHeader{
	width: 100%;
	height: auto;
	/*background-image: linear-gradient(289deg, #fbda61, #ffe500);*/
	position: relative;
	background-image: url(../img/user-bg.png);
	background-size: cover;
}
/*.userHeaderBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}*/
.userInfo{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0.426666rem 0.533333rem 0.293333rem 0.533333rem;
	box-sizing: border-box;
	font-size: 0;
}
.userInfoImg{
	width: 19.7%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}
.userInfoImg>img{
	border-radius: 50%;
}
.userInfoText{
	display: inline-block;
	vertical-align: middle;
	width: 80.3%;
	padding-left: 12%;
	box-sizing: border-box;
}
.userInfoName{
	font-size: 0.426666rem;
	letter-spacing: 0.133333rem;
	color: #000000;
	font-weight: bold;
	margin-bottom: 0.24rem;
}
.userInfoBalance{
	font-size: 0.373333rem;
	color: #000000;
}
.userInfoBalance>span:nth-of-type(1){
	margin-right: 0.48rem;
}
.userOption{
	position: relative;
	z-index: 2;
	padding: 0.186666rem 0;
	width: 100%;
	font-size: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.userOptionDeposit,.userOptionRecharge{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 0.72rem;
	font-size: 0.426666rem;
	letter-spacing: 0.133333rem;
	color: #FFFFFF;
	box-sizing: border-box;
}
.userOptionRecharge{
	border-right: 1px solid #FFFFFF;
}
.userContent{
	margin-top: 0.32rem;
	width: 100%;
	padding: 0 0.533333rem;
	box-sizing: border-box;
}
.userContentList{
	width: 100%;
	font-size: 0;
}
.userContentListIcon{
	width: 7.46%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6.54%;
	box-sizing: border-box;
}
.userContentListText{
	width: 86%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	font-size: 0.453333rem;
	color: #000000;
	line-height: 1.653333rem;
	box-sizing: border-box;
}
.userContentListText:after{
	content: "";
	position: absolute;
	width: 0.24rem;
	height: 0.48rem;
	background-image: url(../img/arrow.png);
	background-size: cover;
	top: 50%;
	right: 0.298666rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.userFooter{
	/*position: absolute;*/
	/*bottom: 1.173333rem;*/
	margin-top: 21.33%;
	left: 0;
	width: 100%;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
/*.userFooterActive{
	bottom: 2.933333rem;
}*/
.userFooterMore{
	width: 100%;
}
.userFooterMoreImg{
	width: 1.093333rem;
	margin: 0 auto;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.userFooterMoreImgRoll{
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);	
}
.userFooterMoreText{
	margin-top: 0.186666rem;
	text-align: center;
	font-size: 0.453333rem;
	color: #e6e6e6;
}
.userFooterIcon{
	display: none;
	width: 100%;
	/*margin-top: 18.4%;*/
	margin-top: 6.4%;
	font-size: 0;
}
.userFooterIconList{
	width: 28%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0.586666rem;
}
.userFooterIconList:nth-of-type(3n-2){
	margin-left: 8%;
}
.userFooterIconList:nth-of-type(3n){
	margin-right: 8%;
}
.userFooterIconListImg{
	width: 1.706666rem;
	height: 1.706666rem;
	margin: 0 auto;
  	/*background-color: #FEF8DC;*/
  background-color: #D7E5FF;
  	border-radius: 50%;
  	position: relative;
}
.userFooterIconListImg>img{
	position: absolute;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
.userFooterIconList:nth-of-type(1) img{
	width: 46.9%;
}
.userFooterIconList:nth-of-type(2) img{
	width: 50%;
}
.userFooterIconList:nth-of-type(3) img{
	width: 34.4%;
}
.userFooterIconList:nth-of-type(4) img{
	width: 42.2%;
}
.userFooterIconList:nth-of-type(5) img{
	width: 31.3%;
}
.userFooterIconList:nth-of-type(6) img{
	width: 39.1%;
}
.userFooterIconList:nth-of-type(7) img{
	width: 44.35%;
}
.userFooterIconListText{
	margin-top: 0.16rem;
	text-align: center;
	font-size: 0.373333rem;
	color: rgba(0, 0, 0, 0.5);
}
/*declare page*/
.declare{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #eeeeee;
	position: relative;
}
.declareForm{
	width: 100%;
	height: auto;
	padding: 0.266666rem 0.48rem 0.16rem 0.48rem;
	box-sizing: border-box;
	background: #FFFFFF;
}
.declareFormDetial{
	width: 100%;
	height: auto;
}
.declareFormDetial>textarea{
	width: 100%;
	height: 3.786666rem;
	border: 1px solid #979797;
	border-radius: 0.213333rem;
	padding: 0.133333rem 0.373333rem;
	box-sizing: border-box;
	font-family: "微软雅黑";
	font-size: 0.426666rem;
}
.declareFormDetial>textarea::-moz-placeholder,.declareFormDetial>textarea::-ms-input-placeholder,.declareFormDetial>textarea::-webkit-input-placeholder{
	color: #bebebe;
}
.declareFormTel{
	width: 100%;
	font-size: 0;
	margin-top: 0.106666rem;
}
.declareFormTelLabel{
	width: 22.35%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.373333rem;
	color: #000000;
}
.declareFormTelInput{
	width: 67%;
	display: inline-block;
	vertical-align: middle;
}
.declareFormTelInput>input{
	background: transparent;
	width: 100%;
	line-height: 0.533333rem;
	padding: 0.026666rem 0;
	border-radius: none;
	border:none;
	font-size: 0.373333rem;
	color: rgba(0, 0, 0, 0.6);
	border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}
.declareUpload{
	margin-top: 0.24rem;
	font-size: 0;
}
.declareUploadAlready{
	box-sizing: border-box;
	border-radius: 0.16rem;
	width: 1.6rem;
	height: 1.6rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.533333rem;
	position: relative;
	border: solid 1px rgba(0, 0, 0, 0.5);
}
.declareUploadAlready>img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 0.16rem;
}
.close{
	cursor: pointer;
	background: #FFFFFF;
	width: 0.5rem;
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(50%) translateY(-50%);
	-webkit-transform: translateX(50%) translateY(-50%);
	-moz-transform: translateX(50%) translateY(-50%);
	-ms-transform: translateX(50%) translateY(-50%);
	-o-transform: translateX(50%) translateY(-50%);
}
.declareFormUpload{
	display: inline-block;
	vertical-align: middle;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 0.16rem;
  	border: solid 1px rgba(0, 0, 0, 0.5);
  	position: relative;
  	margin-right: 0.533333rem;
}
.declareFormUpload>input{
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}
.declareFormUpload>span{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-56%);
	-webkit-transform: translateX(-50%) translateY(-56%);
	-moz-transform: translateX(-50%) translateY(-56%);
	-ms-transform: translateX(-50%) translateY(-56%);
	-o-transform: translateX(-50%) translateY(-56%);
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.2);
}

.declareKnow{
	margin-top: 0.346666rem;
	width: 100%;
	padding:0.346666rem 0.48rem 0.506666rem 0.48rem;
	box-sizing: border-box;
	background: #FFFFFF;
}
.declareKnowTitle{
	font-size: 0.426666rem;
	color: #929292;
	margin-bottom: 0.346666rem;
}
.declareKnowText{
	font-size: 0.32rem;
	color: #929292;
}
.declareKnowText>p{
	margin-bottom: 0.186666rem;
}
.declareReason{
	background: #FFFFFF;
	margin-top: 0.346666rem;
	width: 100%;
	padding: 0.426666rem 0.746666rem;
	box-sizing: border-box;
	font-size: 0;
}
.declareReasonBtn{
	display: inline-block;
	vertical-align: middle;
	width: 46.7%;
	border-radius: 0.16rem;
  	background-color: #d8d8d8;
  	font-size: 0.426666rem;
  	 color: #ffffff;
  	 text-align: center;
  	 line-height: 1.093333rem;
  	 transition: all .4s ease-in-out;
}
.declareReasonBtn:nth-child(2n){
	margin-left: 6.6%;
}
.declareReasonBtnActive{
	background-color: #377dff;
}
.declareReasonBtn:nth-of-type(1),.declareReasonBtn:nth-of-type(2){
	margin-bottom: 0.533333rem;
}
.declareBtn{
	width: 85.3%;
	margin: 0.64rem auto 0 auto;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.426666rem;
	line-height:1.093333rem ;
	border-radius: 0.16rem;
	background-color: #ff576b;
	/*background-color: #334681;*/
}


/*rechargeDetail page*/
.rechargeDetail{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	background: #eeeeee;
	position: relative;
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.rechargeDetail .minirefresh-scroll{
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.rechargeDetailTitle{
	font-size: 0.586666rem;
	color: #060606;
	margin-bottom: 0.293333rem;
}
.rechargeContent{
	width: 100%;
}
.rechargeContentList{
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 0.346666rem;
	 border-radius: 0.213333rem;
	 padding: 0.24rem 0.453333rem 0.186666rem 0.64rem;
	 box-sizing: border-box;
}
.rechargeStatus{
	width: 100%;
	font-size: 0;
	margin-bottom: 0.053333rem;
}
.rechargeStatusTime{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: #000000;
	width: 70%;
}
.rechargeStatusResult{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: rgba(0, 0, 0, 0.2);
	width: 30%;
	text-align: right;
}
.rechargePay{
	width:100%;
	margin-bottom: 0.106666rem;
}
.rechargePay>span,.rechargePower>span{
	font-size: 0.32rem;
	color: rgba(0, 0, 0, 0.39);
}
.rechargePay>span:nth-of-type(1),.rechargePower>span:nth-of-type(1){
	margin-right: 0.32rem;
}
.rechargeMore{
	width: 100%;
	text-align: center;
	font-size:0.373333rem;
	color:  #000000;
	opacity: 0.6;
	margin-top:0.213333rem ;
}


/*map*/
.map{
	opacity: 0;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative;
}
.mapHeader{
	width: 100%;
	font-size: 0;
	/*background-color: #fbdc43;*/
	background-color: #377dff;
	padding: 0.12rem 0.64rem 0.16rem 0.64rem;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.mapHeaderLeft{
	width: 87.46%;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}
.mapHeaderImg{
	width: 13.28%;
	display: inline-block;
	vertical-align: middle;
}
.mapHeaderSearch{
	width: 86.72%;
	padding-left: 0.146666rem;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}
.mapHeaderSearch>input{
	width: 100%;
	padding-left: 0.28rem;
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-radius: 0;
	font-size: 0.48rem;
	color: white;
	/*padding-bottom: 0.053333rem;*/
	padding-bottom: 0.08rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.mapHeaderSearch>input::-moz-placeholder,
.mapHeaderSearch>input::-ms-input-placeholder,
.mapHeaderSearch>input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.22);
}

.mapHeaderIcon{
	width: 5.5%;
	margin-left: 7.04%;
	display: inline-block;
	vertical-align: middle;
}
.mapContent{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.mapFooter{
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	bottom: 1.04rem;
	font-size: 0;
}
.mapFooterBrowser,.mapFooterReturn{
	width:28% ;
	display: inline-block;
	vertical-align: middle;
}
.mapFooterBrowser{
	margin:0 20.5% 0 11.7% ;
}
.mapFooterReturn{
	margin-right: 11.7%;
}

.mapList{
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/map-bg.png);
	background-size: cover;
	padding-top: 1.733333rem;
	box-sizing: border-box;
}
.mapListHeader{
	position: absolute;
	top: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	padding: 0.213333rem 0.453333rem;
	box-sizing: border-box;
	font-size: 0;
}
.mapListHeaderLeft{
	width: 90.76%;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 0.053333rem;
	border-bottom: solid 1px rgba(255, 255, 255, 0.6);
	box-sizing: border-box;
}
.mapListHeaderImg{
	width:11.3% ;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1.5%;
}
.mapListHeaderSearch{
	width: 87.2%;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0.266666rem;
	box-sizing: border-box;
	border-left:1px solid rgba(255, 255, 255, 0.6);
}
.mapListHeaderSearch>input{
	width: 100%;
	line-height: 0.586666rem;
	border: none;
	border-radius: 0;
	background: transparent;
	font-size: 0.48rem;
	color: #FFFFFF;
}
.mapHeaderSearch>input::-moz-placeholder,
.mapHeaderSearch>input::-ms-input-placeholder,
.mapHeaderSearch>input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.22);
	line-height: 0.586666rem;
}
.mapListHeaderIcon{
	width: 5.86%;
	margin-left: 3.38%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
.mapListContent{
	/*margin-top: 0.346666rem;*/
	width: 100%;
	height: 100%;
	padding: 0rem 0.453333rem;
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.infoModal{
	position: absolute;
	bottom: 0.533333rem;
	width: 90%;
	left: 5%;
	z-index: 12;
	display: none;
}
.mapListOne{
	width: 100%;
	background: #FFFFFF;
	border-radius: 0.213333rem;
	padding: 0 0.186666rem;
	box-sizing: border-box;
	margin-bottom: 0.293333rem;
}
.mapListOneContent{
	padding: 0.64rem 0.053333rem 0.6rem 0.533333rem;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 0;
}
.mapListOneContentLeft{
	width: 60%;
	display: inline-block;
	vertical-align: middle;
}
.mapListOneContentLeft>p:nth-of-type(1){
	font-size: 0.426666rem;
	color: #000000;
}
.mapListOneContentLeft>p:nth-of-type(2){
	font-size: 0.32rem;
	color: rgba(0, 0, 0, 0.35);
}
.mapListOneContentRight{
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	font-size: 0.426666rem;
	color: rgba(0, 0, 0, 0.44);
}
.mapListOneIcon{
	width: 100%;
	font-size: 0;
	padding: 0.2rem 0 0.186666rem;
}
.mapListOneIconOne{
	width: 25%;
	box-sizing: border-box;
	border-right: 1px solid #979797;
	display: inline-block;
	vertical-align: middle;
}
.mapListOneIconOne:last-child{
	border-right: none;
}
.mapIcon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.48rem;
	margin-left: 0.186666rem;
}
.mapIcon1{
	width: 0.373333rem;
}
.mapIcon2{
	width: 0.373333rem;
}
.mapIcon3{
	width: 0.506666rem;
}
.mapNum{
	display: inline-block;
	vertical-align: middle;
	line-height: 0.666666rem;
	font-size: 0.533333rem;
	color: #75aeff;
}
.mapText{
	font-size: 0.32rem;
	color: #000000;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.48rem;
	margin-left: 0.186666rem;
}
.noMapNum{
	color: rgba(0, 0, 0, 0.2);
}


/*return page*/
.return{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
.returnImg{
	overflow: hidden;
	margin: 22.83% auto 7.73% auto;
	width: 33.6%;
}
.returnText{
	text-align: center;
}
.returnText>p{
	opacity: 0.7;
	font-size: 0.426666rem;
	color: #343434;
	margin-bottom: 0.546666rem;
}
.returnText>p>span{
	color: #2b63ff;
}
.returnBtn{
	position: absolute;
	bottom: 0.666666rem;
	width:85.6% ;
	left: 7.2%;
	border-radius: 0.16rem;
  	background-color: #ff576b;
  	line-height: 1.093333rem;
  	font-size: 0.426666rem;
  	color: #FFFFFF;
  	text-align: center;
}


/*browser page*/
.browser{
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background-image: url(../img/map-bg.png);
	background-size: cover;*/
	background: #131c23;
	position: relative;
	/*opacity: 0.6;*/
}
.browserContent{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
.browserProgress{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.progress {
  /*font-size: 1.2em;*/
  height: 0.533333rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.progress--active .progress__bar {
  opacity: 1;
}
/*.progress__text {
  width: 80vw;
  padding: 0 0.266666rem;
  position: absolute;
  left: 50%;
  margin-left:1.333333rem;
}
.progress__text em {
  font-style: normal;
}*/
.progress__bar {
  color: white;
  font-size: 0.32rem;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  line-height: 0.506666rem;
  display: block;
  position: relative;
  top: -1px;
  left: -1px;
  width: 0%;
  height: 100%;
  opacity: 0;
  border: 1px solid;
  border-radius: 2px 0 0 2px;
  background-size: 1.333333rem 0.4rem, 1.733333rem 0.4rem, 1.733333rem 0.4rem;
  background-position: -20% center, right center, left center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  -webkit-transition: opacity 0.2s ease, width 0.8s ease-out, background-color 1s ease, border-color 0.3s ease, box-shadow 1s ease;
          transition: opacity 0.2s ease, width 0.8s ease-out, background-color 1s ease, border-color 0.3s ease, box-shadow 1s ease;
  -webkit-animation: pulse 2s ease-out infinite;
          animation: pulse 2s ease-out infinite;
  background-color: rgba(201, 4, 20, 0.95);
  background-image: -webkit-linear-gradient(0deg, rgba(226, 4, 22, 0) 10%, rgba(250, 6, 26, 0.8) 30%, #fb1f31 70%, rgba(250, 6, 26, 0.8) 80%, rgba(226, 4, 22, 0) 90%), -webkit-linear-gradient(left, rgba(251, 31, 49, 0) 0%, #fb1f31 100%), -webkit-linear-gradient(right, rgba(251, 31, 49, 0) 0%, #fb1f31 100%);
  background-image: linear-gradient(90deg, rgba(226, 4, 22, 0) 10%, rgba(250, 6, 26, 0.8) 30%, #fb1f31 70%, rgba(250, 6, 26, 0.8) 80%, rgba(226, 4, 22, 0) 90%), linear-gradient(to right, rgba(251, 31, 49, 0) 0%, #fb1f31 100%), linear-gradient(to left, rgba(251, 31, 49, 0) 0%, #fb1f31 100%);
  border-color: #fb3848;
  box-shadow: 0 0 0.6em #fa061a inset, 0 0 0.4em #e20416 inset, 0 0 0.5em rgba(201, 4, 20, 0.5), 0 0 0.1em rgba(254, 206, 210, 0.5);
}
.progress__bar--orange {
  background-color: rgba(201, 47, 0, 0.95);
  background-image: -webkit-linear-gradient(0deg, rgba(227, 53, 0, 0) 10%, rgba(252, 59, 0, 0.8) 30%, #ff4d17 70%, rgba(252, 59, 0, 0.8) 80%, rgba(227, 53, 0, 0) 90%), -webkit-linear-gradient(left, rgba(255, 77, 23, 0) 0%, #ff4d17 100%), -webkit-linear-gradient(right, rgba(255, 77, 23, 0) 0%, #ff4d17 100%);
  background-image: linear-gradient(90deg, rgba(227, 53, 0, 0) 10%, rgba(252, 59, 0, 0.8) 30%, #ff4d17 70%, rgba(252, 59, 0, 0.8) 80%, rgba(227, 53, 0, 0) 90%), linear-gradient(to right, rgba(255, 77, 23, 0) 0%, #ff4d17 100%), linear-gradient(to left, rgba(255, 77, 23, 0) 0%, #ff4d17 100%);
  border-color: #ff6030;
  box-shadow: 0 0 0.6em #fc3b00 inset, 0 0 0.4em #e33500 inset, 0 0 0.5em rgba(201, 47, 0, 0.5), 0 0 0.1em rgba(255, 214, 201, 0.5);
}
.progress__bar--yellow {
  background-color: rgba(232, 158, 0, 0.95);
  background-image: -webkit-linear-gradient(0deg, rgba(255, 174, 2, 0) 10%, rgba(255, 183, 28, 0.8) 30%, #ffbf36 70%, rgba(255, 183, 28, 0.8) 80%, rgba(255, 174, 2, 0) 90%), -webkit-linear-gradient(left, rgba(255, 191, 54, 0) 0%, #ffbf36 100%), -webkit-linear-gradient(right, rgba(255, 191, 54, 0) 0%, #ffbf36 100%);
  background-image: linear-gradient(90deg, rgba(255, 174, 2, 0) 10%, rgba(255, 183, 28, 0.8) 30%, #ffbf36 70%, rgba(255, 183, 28, 0.8) 80%, rgba(255, 174, 2, 0) 90%), linear-gradient(to right, rgba(255, 191, 54, 0) 0%, #ffbf36 100%), linear-gradient(to left, rgba(255, 191, 54, 0) 0%, #ffbf36 100%);
  border-color: #ffc74f;
  box-shadow: 0 0 0.6em #ffb71c inset, 0 0 0.4em #ffae02 inset, 0 0 0.5em rgba(232, 158, 0, 0.5), 0 0 0.1em rgba(255, 248, 232, 0.5);
}
.progress__bar--green {
  background-color: rgba(0, 178, 23, 0.95);
  background-image: -webkit-linear-gradient(0deg, rgba(0, 203, 26, 0) 10%, rgba(0, 229, 30, 0.8) 30%, #00fe21 70%, rgba(0, 229, 30, 0.8) 80%, rgba(0, 203, 26, 0) 90%), -webkit-linear-gradient(left, rgba(0, 254, 33, 0) 0%, #00fe21 100%), -webkit-linear-gradient(right, rgba(0, 254, 33, 0) 0%, #00fe21 100%);
  background-image: linear-gradient(90deg, rgba(0, 203, 26, 0) 10%, rgba(0, 229, 30, 0.8) 30%, #00fe21 70%, rgba(0, 229, 30, 0.8) 80%, rgba(0, 203, 26, 0) 90%), linear-gradient(to right, rgba(0, 254, 33, 0) 0%, #00fe21 100%), linear-gradient(to left, rgba(0, 254, 33, 0) 0%, #00fe21 100%);
  border-color: #19ff37;
  box-shadow: 0 0 0.6em #00e51e inset, 0 0 0.4em #00cb1a inset, 0 0 0.5em rgba(0, 178, 23, 0.5), 0 0 0.1em rgba(178, 255, 188, 0.5);
}
.progress__bar--blue {
  background-color: rgba(18, 135, 204, 0.95);
  background-image: -webkit-linear-gradient(0deg, rgba(20, 151, 227, 0) 10%, rgba(37, 162, 236, 0.8) 30%, #3dacee 70%, rgba(37, 162, 236, 0.8) 80%, rgba(20, 151, 227, 0) 90%), -webkit-linear-gradient(left, rgba(61, 172, 238, 0) 0%, #3dacee 100%), -webkit-linear-gradient(right, rgba(61, 172, 238, 0) 0%, #3dacee 100%);
  background-image: linear-gradient(90deg, rgba(20, 151, 227, 0) 10%, rgba(37, 162, 236, 0.8) 30%, #3dacee 70%, rgba(37, 162, 236, 0.8) 80%, rgba(20, 151, 227, 0) 90%), linear-gradient(to right, rgba(61, 172, 238, 0) 0%, #3dacee 100%), linear-gradient(to left, rgba(61, 172, 238, 0) 0%, #3dacee 100%);
  border-color: #54b6f0;
  box-shadow: 0 0 0.6em #25a2ec inset, 0 0 0.4em #1497e3 inset, 0 0 0.5em rgba(18, 135, 204, 0.5), 0 0 0.1em rgba(225, 242, 252, 0.5);
}
.progress__bar:before, .progress__bar:after {
  content: "";
  position: absolute;
  right: -1px;
  width: 1px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height:1.066666rem;
}
.progress__bar:before {
  width: 0.093333rem;
  right: -0.053333rem;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 75%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 75%);
}
.progress__bar:after {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 100%);
}
.progress--complete .progress__bar {
  -webkit-animation: none;
          animation: none;
  border-radius: 2px;
}
.progress--complete .progress__bar:after, .progress--complete .progress__bar:before {
  opacity: 0;
}

@-webkit-keyframes pulse {
  0% {
    background-position: -50% center, right center, left center;
  }
  100% {
    background-position: 150% center, right center, left center;
  }
}

@keyframes pulse {
  0% {
    background-position: -50% center, right center, left center;
  }
  100% {
    background-position: 150% center, right center, left center;
  }
}

.browserText{
	margin-top: 0.4rem;
	text-align: center;
}
.browserText>span:nth-of-type(1){
	width: 0.64rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.266666rem;
}
.browserText>span:nth-of-type(2){
	display: inline-block;
	vertical-align: middle;
	font-size: 0.373333rem;
	color: #FFFFFF;
	/*opacity: 0.6;*/
}

/*withdraw page*/
.withdraw{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	background: #eeeeee;
	position: relative;
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.withdraw .minirefresh-scroll{
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.withdrawTitle{
	font-size: 0.586666rem;
	color: #060606;
	margin-bottom: 0.293333rem;
}
.withdrawContent{
	width: 100%;
}
.withdrawContentList{
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 0.346666rem;
	 border-radius: 0.213333rem;
	 padding: 0.24rem 0.453333rem 0.186666rem 0.64rem;
	 box-sizing: border-box;
}
.withdrawLine1{
	width: 100%;
	font-size: 0;
	margin-bottom: 0.106666rem;
}
.withdrawText{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.4rem;
	 color: #000000;
}
.withdrawMoney{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: #3178fc;
	text-align: right;
}
.withdrawLine2{
	width: 100%;
	font-size: 0;
}
.withdrawTime{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	color: #9c9c9c;
	font-size: 0.32rem;
}
.withdrawStatus{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.32rem;
	color: #9c9c9c;
	text-align: right;
}
.withdrawMore{
	width: 100%;
	text-align: center;
	font-size:0.373333rem;
	color:  #000000;
	opacity: 0.6;
	margin-top:0.213333rem ;
}


/*issue page*/
.issue{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding-bottom:1.466666rem;
	box-sizing: border-box;
}
.issueList{
	width: 100%;
	padding:0 0.453333rem ;
	box-sizing: border-box;
	position: relative;
}
.issueListOne{
	width: 100%;
}
.issueListOneTitle{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding:0.4rem 0;
	font-size: 0.373333rem;
	color: #000000;
}
/*.issueListOneTitleArrow{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	width: ;
}*/
.issueListOneTitleArrow{
	position: absolute;
	width: 0.48rem;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.activeIssue .issueListOneTitleArrow{
	transform: translateY(-50%) rotate(-180deg);
	-webkit-transform: translateY(-50%) rotate(-180deg);
	-moz-transform: translateY(-50%) rotate(-180deg);
	-ms-transform: translateY(-50%) rotate(-180deg);
	-o-transform: translateY(-50%) rotate(-180deg);
}
.issueListOneContent{
	padding: 0.306666rem 0.773333rem 0  0rem;
	box-sizing: border-box;
	 font-size: 0.32rem;
	  color: #000000;
	   opacity: 0.4;
	   display: none;
}
.issueFooter{
	position: absolute;
	bottom: 0.76rem;
	text-align: center;
	left: 0;
	width: 100%;
}
.issueFooter>span:nth-of-type(1){
	width: 0.4rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.266666rem;
}
.issueFooter>span:nth-of-type(2){
	display: inline-block;
	vertical-align: middle;
	font-size: 0.373333rem;
	opacity: 0.6;
	color: #000000;
}

/*about page*/
.about{
	width: 100%;
	height: 100%;
	/*overflow-y: scroll;
	-webkit-overflow-scrolling: touch;*/
	overflow: hidden;
	/*padding:65.33% 0.56rem 20% 0.56rem;*/
	box-sizing: border-box;
	position: relative;
	padding-top: 0.1px;
}
.logo{
	position: relative;
	width:48.1% ;
	margin: 0.626666rem auto 0.413333rem auto;
}	
.aboutContainer{
	width: 100%;
	max-height: 6.893333rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding:0 0.56rem ;
	box-sizing: border-box;
}
.aboutContainer>p{
	font-size: 0.426666rem;
	opacity: 0.7;
	color: #a9a9a9;
	margin-bottom: 0.28rem;
}
.aboutContainer>p:nth-of-type(1){
	margin-bottom: 0.973333rem;
}


/*recharge page*/
.recharge{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	position: relative;
	padding-top: 0.1px;
}
.rechargeTitle{
	padding:6.8% 7.33% 10.67%  7.33%;
	box-sizing: border-box;
	font-size: 0;
}
.rechargeTitle>span:nth-of-type(1){
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.933333rem;
	color: #000000;
	text-align: left;
}
.rechargeTitle>span:nth-of-type(2){
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.32rem;
	color: #90949c;
	text-align: right;
}
.rechargeChoose{
	width:85.34% ;
	margin:0 auto;
	font-size: 0;
}
.rechargeChooseBtn{
	width: 46.25%;
	display: inline-block;
	vertical-align: middle;
	padding: 0.12rem 0.093333rem;
	box-sizing: border-box;
	border-radius: 0.16rem;
  	border: solid 1px #c8dbff;
  	margin-bottom: 0.466666rem;
  	overflow: hidden;
}
.rechargeChooseBtnActive{
	background: url(../img/recharge-bg.png);
	background-size: 100% 100%;
	border-color: transparent;
}
.rechargeChooseBtn:nth-of-type(2n){
	margin-left: 7.5%;
}
.rechargeChooseBtn:last-child{
	margin-bottom: 0;
}
.rechargeChooseBtnContent{
	position: relative;
	text-align: center;
	width: 100%;
	border-radius: 0.066666rem;
  	background-color: #edf3ff;
  	border: solid 1px #edf3ff;
	height: 1.76rem;
}
.rechargeChooseBtnActive .rechargeChooseBtnContent{
	background-color: transparent;
	border-color: transparent;
}
.rechargeChooseBtnText{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
.rechargeChooseBtnText>span{
	font-size: 0.4rem;
	color: #90949c;
	display: block;
}
.rechargeChooseBtnActive .rechargeChooseBtnText>span{
	color: #FFFFFF;
}
.rechargeChooseBtnText>img{
	margin:0.2rem auto 0 auto;
	width: 0.533333rem;
	height: auto;
	display: none;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.rechargeChooseBtnActive .rechargeChooseBtnText>img{
	display: block;
}
.rechargeBtn{
	text-align: center;
	margin-top: 37.6%;
	width: 83.3%;
	margin: 27.6% auto 0 auto;
	border-radius: 0.16rem;
  	background-color: #ff576b;
	color: #ffffff;
	font-size: 0.426666rem;
	line-height: 1.066666rem;
}


/*deposit page*/
.deposit{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	position: relative;
	padding-top: 0.1px;
	/*background-color: #e8effb;*/
}
.depositDetail{
	padding-top: 13.47%;
	width: 78%;
	margin: 0 auto;
	text-align: right;
	font-size: 0.32rem;
	color: #90949c;
}
.depositContent{
	width: 78%;
	margin: 27.47% auto 0 auto;
	position: relative
}
.depositContentText{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	margin-left: 23.02%;
	font-size: 0.573333rem;
	color: #FFFFFF;
}
.depositContentMoney{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	margin-left: 73.23%;
	font-size: 0.573333rem;
	color: #FFFFFF;
}
.depositContentBtn{
	width: 100%;
	margin-top: 52.53%;
	padding:0 9.33%;
	box-sizing: border-box;
	font-size: 0;
}
.depositContentBtnYes,.depositContentBtnNo{
	display: inline-block;
	vertical-align: middle;
	width:42.62% ;
	color: #FFFFFF;
	line-height: 1.066666rem;
	text-align: center;
	 font-size: 0.426666rem;
	 border-radius: 0.16rem;
}
.depositContentBtnYes{
	background-color: #d8d8d8;
}
.depositContentBtnNo{
	background-color: #ff576b;
	margin-left: 14.76%;
}
