html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
img{
	width: 100%;
	height: auto;
	display: block;
}
.showDom{
	opacity: 1 !important;
}
.hiddenDom{
	opacity: 0 !important;
	display: none;
}
.order{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	background-color: #eeeeee;
}
.orderTab{
	font-size: 0;
	z-index: 2;
	top: 0;
	left: 0;
	background: rgb(251,219,79);
	width: 100%;
	height: 1.093333rem;
	box-sizing: border-box;
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	position: absolute;
	background-image: url(../img/user-bg.png);
	background-size: 100% 100%;
}
.active>span{
	color:#ffffff !important;
}
.orderTabList{
	padding: 0.133333rem 0;
	width: 33.3%;
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
  	text-align: center;
  	box-sizing: border-box;
}
.orderTabList>span{
	display: inline-block;
	width: 100%;
	line-height: 0.826666rem;
	font-size: 0.426666rem;
  	color: rgba(255,255,255,.6);
  	border-right: 1px solid rgb(255,255,255);
}
.orderList{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
}
.orderList2,.orderList1,.orderList0{
	display: none;
	margin-top: 1.093333rem;
	box-sizing: border-box;
	transition: all 400ms ease-in-out;
}
.minirefresh-downwrap{
	background: #FFFFFF;
}
.minirefresh-scroll{
	min-height: 100%;
	background-color: #eeeeee;
}
.data-list{
	width: 100%;
	padding: 0.266666rem 0.48rem;
	box-sizing: border-box;
	background-color: #eeeeee;
	min-height: 100%;
}
/*进行中*/
.orderListNow{
	width: 100%;
	border-radius: 0.213333rem;
  	background-color: #ffffff;
  	font-size: 0;
  	padding:0.453333rem 0.32rem 0.32rem 0.32rem;
  	box-sizing: border-box;
  	margin-bottom: 0.346666rem;
  	background-image: url(../img/order-cardBg.png);
  	background-size: cover;
}
.orderListNowTitle{
	font-size: 0.586666rem;
	color: #060606;
	margin-bottom: 0.4rem;
}
.orderListNowContent{
	width: 100%;
}
.orderListNowContentPlace,.orderListNowContentTime,.orderListNowContentMoney{
	width: 100%;
	font-size: 0;
}
.orderListNowContentPlace{
	margin-bottom: 0.4rem;
}
.orderListNowContentTime{
	margin-bottom: 0.346666rem;
}
.orderListNowContentIcon{
	display: inline-block;
	vertical-align: middle;
	width: 0.4rem;
	margin-right: 0.613333rem;
}
.orderListNowContentText{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: #606060;
}
.orderListNowContentMoney>.orderListNowContentText{
	color: #80ce25;
}
/*已完成*/
.orderListDone{
	width: 100%;
	border-radius: 0.213333rem;
  	background-color: #ffffff;
  	font-size: 0;
  	padding:0.133333rem  0.4rem 0 0.4rem;
  	box-sizing: border-box;
  	margin-bottom: 0.346666rem;
}
.orderListDoneBorrow{
	width: 100%;
	padding:0.346666rem 0.293333rem 0.453333rem 0.293333rem;
	box-sizing: border-box;
	border-bottom:1px solid rgba(0, 0, 0, 0.3);
}
.orderListDoneReturn{
	width: 100%;
	padding:0.186666rem 0.293333rem 0.453333rem 0.293333rem;
	box-sizing: border-box;
}
.orderListDoneBorrowId,
.orderListDoneBorrowPlace,
.orderListDoneBorrowTime,
.orderListDoneReturnId,
.orderListDoneReturnPlace,
.orderListDoneReturnTime{
	width: 100%;
	font-size: 0;
}
.orderListDoneBorrowId,.orderListDoneReturnId{
	margin-bottom: 0.16rem;
}
.orderListDoneBorrowPlace,.orderListDoneReturnPlace{
	margin-bottom: 0.213333rem;
}
.orderListDoneBorrowId>span:nth-of-type(1),
.orderListDoneBorrowPlace>span:nth-of-type(1),
.orderListDoneBorrowTime>span:nth-of-type(1),
.orderListDoneReturnId>span:nth-of-type(1),
.orderListDoneReturnPlace>span:nth-of-type(1),
.orderListDoneReturnTime>span:nth-of-type(1)
{
	width: 34.18%;
	display: inline-block;
	vertical-align: middle;
}
.orderListDoneBorrowId>span:nth-of-type(1){
	font-size: 0.586666rem;
	color: #f5a623;
}
.orderListDoneReturnId>span:nth-of-type(1){
	font-size: 0.586666rem;
	color: #71c515;
}
.orderListDoneBorrowPlace>span:nth-of-type(1),
.orderListDoneBorrowTime>span:nth-of-type(1),
.orderListDoneReturnPlace>span:nth-of-type(1),
.orderListDoneReturnTime>span:nth-of-type(1)
{
	font-size: 0.426666rem;
	color: rgba(0, 0, 0, 0.6);
}
.orderListDoneBorrowId>span:nth-of-type(2),
.orderListDoneBorrowPlace>span:nth-of-type(2),
.orderListDoneBorrowTime>span:nth-of-type(2),
.orderListDoneReturnId>span:nth-of-type(2),
.orderListDoneReturnPlace>span:nth-of-type(2),
.orderListDoneReturnTime>span:nth-of-type(2)
{
	font-size: 0.426666rem;
	width: 65.82%;
	color:  rgba(0, 0, 0, 0.39);
	display: inline-block;
	vertical-align: middle;
}
.orderListDoneMore{
	margin-top: 0.346666rem;
	text-align: center;
	font-size: 0.373333rem;
	color: #000000;
	opacity: 0.6;
}
/*未支付*/
.orderListNoPay{
	width: 100%;
	border-radius: 0.213333rem;
  	background-color: #ffffff;
  	font-size: 0;
}
.orderListNoPayContent{
	width: 77%;
	display: inline-block;
	vertical-align: middle;
	padding: 0.24rem 0 0.186666rem 0.64rem;
	box-sizing: border-box;
}
.orderListNoPayContentTime{
	font-size: 0.426666rem;
	color: #000000;
	margin-bottom: 0.08rem;
	width: 100%;
	position: relative;
}
.orderListNoPayContentTime:after{
	position: absolute;
	content: "";
	left:-0.426666rem;
	width: 0.213333rem;
	height: 0.213333rem;
	background-color: #ff4f4f;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.orderListNoPayContentMoney,.orderListNoPayContentPower{
	font-size: 0.32rem;
	color: rgba(0, 0, 0, 0.39);
}
.orderListNoPayContentMoney{
	margin-bottom: 0.106666rem;
}
.orderListNoPayContentMoney>span:nth-of-type(1),.orderListNoPayContentPower>span:nth-of-type(1){
	margin-right: 0.32rem;
}
.orderListNoPayBtn{
	width: 23%;
	display: inline-block;
	vertical-align: middle;
	/*background-color: #ff576b;*/
	background-color: #334681;
	color: #FFFFFF;
	font-size: 0.48rem;
	text-align: center;
	line-height: 2.133333rem;
	border-top-right-radius: 0.213333rem;
	border-bottom-right-radius: 0.213333rem;
}
/*user page*/
.user{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #FFFFFF;
	position: relative;
}
.userHeader{
	width: 100%;
	height: auto;
	/*background-image: linear-gradient(289deg, #fbda61, #ffe500);*/
	position: relative;
	background-image: url(../img/user-bg.png);
	background-size: cover;
}
/*.userHeaderBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}*/
.userInfo{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0.426666rem 0.533333rem 0.293333rem 0.533333rem;
	box-sizing: border-box;
	font-size: 0;
}
.userInfoImg{
	width: 19.7%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
.userInfoText{
	display: inline-block;
	vertical-align: middle;
	width: 80.3%;
	padding-left: 12%;
	box-sizing: border-box;
}
.userInfoName{
	font-size: 0.426666rem;
	letter-spacing: 0.133333rem;
	color: #000000;
	font-weight: bold;
	margin-bottom: 0.24rem;
}
.userInfoBalance{
	font-size: 0.373333rem;
	color: #000000;
}
.userInfoBalance>span:nth-of-type(1){
	margin-right: 0.48rem;
}
.userOption{
	position: relative;
	z-index: 2;
	padding: 0.186666rem 0;
	width: 100%;
	font-size: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.userOptionDeposit,.userOptionRecharge{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 0.72rem;
	font-size: 0.426666rem;
	letter-spacing: 0.133333rem;
	color: #FFFFFF;
	box-sizing: border-box;
}
.userOptionDeposit{
	border-right: 1px solid #FFFFFF;
}
.userContent{
	margin-top: 0.32rem;
	width: 100%;
	padding: 0 0.533333rem;
	box-sizing: border-box;
}
.userContentList{
	width: 100%;
	font-size: 0;
}
.userContentListIcon{
	width: 7.46%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6.54%;
	box-sizing: border-box;
}
.userContentListText{
	width: 86%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	font-size: 0.453333rem;
	color: #000000;
	line-height: 1.653333rem;
	box-sizing: border-box;
}
.userContentListText:after{
	content: "";
	position: absolute;
	width: 0.24rem;
	height: 0.48rem;
	background-image: url(../img/arrow.png);
	background-size: cover;
	top: 50%;
	right: 0.298666rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.userFooter{
	/*position: absolute;*/
	/*bottom: 1.173333rem;*/
	margin-top: 21.33%;
	left: 0;
	width: 100%;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
/*.userFooterActive{
	bottom: 2.933333rem;
}*/
.userFooterMore{
	width: 100%;
}
.userFooterMoreImg{
	width: 1.093333rem;
	margin: 0 auto;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.userFooterMoreImgRoll{
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);	
}
.userFooterMoreText{
	margin-top: 0.186666rem;
	text-align: center;
	font-size: 0.453333rem;
	color: #e6e6e6;
}
.userFooterIcon{
	display: none;
	width: 100%;
	/*margin-top: 18.4%;*/
	margin-top: 6.4%;
	font-size: 0;
}
.userFooterIconList{
	width: 28%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0.586666rem;
}
.userFooterIconList:nth-of-type(3n-2){
	margin-left: 8%;
}
.userFooterIconList:nth-of-type(3n){
	margin-right: 8%;
}
.userFooterIconListImg{
	width: 1.706666rem;
	height: 1.706666rem;
	margin: 0 auto;
  	/*background-color: #FEF8DC;*/
  background-color: #D7E5FF;
  	border-radius: 50%;
  	position: relative;
}
.userFooterIconListImg>img{
	position: absolute;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
.userFooterIconList:nth-of-type(1) img{
	width: 46.9%;
}
.userFooterIconList:nth-of-type(2) img{
	width: 50%;
}
.userFooterIconList:nth-of-type(3) img{
	width: 34.4%;
}
.userFooterIconList:nth-of-type(4) img{
	width: 42.2%;
}
.userFooterIconList:nth-of-type(5) img{
	width: 31.3%;
}
.userFooterIconList:nth-of-type(6) img{
	width: 39.1%;
}
.userFooterIconList:nth-of-type(7) img{
	width: 44.35%;
}
.userFooterIconListText{
	margin-top: 0.16rem;
	text-align: center;
	font-size: 0.373333rem;
	color: rgba(0, 0, 0, 0.5);
}
/*declare page*/
.declare{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #eeeeee;
	position: relative;
}
.declareForm{
	width: 100%;
	height: auto;
	padding: 0.266666rem 0.48rem 0.16rem 0.48rem;
	box-sizing: border-box;
	background: #FFFFFF;
}
.declareFormDetial{
	width: 100%;
	height: auto;
}
.declareFormDetial>textarea{
	width: 100%;
	height: 3.786666rem;
	border: 1px solid #979797;
	border-radius: 0.213333rem;
	padding: 0.133333rem 0.373333rem;
	box-sizing: border-box;
	font-family: "微软雅黑";
	font-size: 0.426666rem;
}
.declareFormDetial>textarea::-moz-placeholder,.declareFormDetial>textarea::-ms-input-placeholder,.declareFormDetial>textarea::-webkit-input-placeholder{
	color: #bebebe;
}
.declareFormTel{
	width: 100%;
	font-size: 0;
	margin-top: 0.106666rem;
}
.declareFormTelLabel{
	width: 22.35%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.373333rem;
	color: #000000;
}
.declareFormTelInput{
	width: 67%;
	display: inline-block;
	vertical-align: middle;
}
.declareFormTelInput>input{
	background: transparent;
	width: 100%;
	line-height: 0.533333rem;
	padding: 0.026666rem 0;
	border-radius: none;
	border:none;
	font-size: 0.373333rem;
	color: rgba(0, 0, 0, 0.6);
	border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}
.declareFormUpload{
	width: 1.333333rem;
	height: 1.333333rem;
	margin-top: 0.24rem;
	border-radius: 0.16rem;
  	border: solid 1px rgba(0, 0, 0, 0.5);
  	position: relative;
}
.declareFormUpload>input{
	opacity: 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}
.declareFormUpload>span{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.2);
}

.declareKnow{
	margin-top: 0.346666rem;
	width: 100%;
	padding:0.346666rem 0.48rem 0.506666rem 0.48rem;
	box-sizing: border-box;
	background: #FFFFFF;
}
.declareKnowTitle{
	font-size: 0.426666rem;
	color: #929292;
	margin-bottom: 0.346666rem;
}
.declareKnowText{
	font-size: 0.32rem;
	color: #929292;
}
.declareKnowText>p{
	margin-bottom: 0.186666rem;
}
.declareReason{
	background: #FFFFFF;
	margin-top: 0.346666rem;
	width: 100%;
	padding: 0.426666rem 0.746666rem;
	box-sizing: border-box;
	font-size: 0;
}
.declareReasonBtn{
	display: inline-block;
	vertical-align: middle;
	width: 46.7%;
	border-radius: 0.16rem;
  	background-color: #d8d8d8;
  	font-size: 0.426666rem;
  	 color: #ffffff;
  	 text-align: center;
  	 line-height: 1.093333rem;
  	 transition: all .4s ease-in-out;
}
.declareReasonBtn:nth-child(2n){
	margin-left: 6.6%;
}
.declareReasonBtnActive{
	background-color: #377dff;
}
.declareReasonBtn:nth-of-type(1),.declareReasonBtn:nth-of-type(2){
	margin-bottom: 0.533333rem;
}
.declareBtn{
	width: 85.3%;
	margin: 0.64rem auto 0 auto;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.426666rem;
	line-height:1.093333rem ;
	border-radius: 0.16rem;
	/*background-color: #ff576b;*/
	background-color: #334681;
}


/*recharge page*/
.recharge{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	background: #eeeeee;
	position: relative;
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.recharge .minirefresh-scroll{
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.rechargeTitle{
	font-size: 0.586666rem;
	color: #060606;
	margin-bottom: 0.293333rem;
}
.rechargeContent{
	width: 100%;
}
.rechargeContentList{
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 0.346666rem;
	 border-radius: 0.213333rem;
	 padding: 0.24rem 0.453333rem 0.186666rem 0.64rem;
	 box-sizing: border-box;
}
.rechargeStatus{
	width: 100%;
	font-size: 0;
	margin-bottom: 0.053333rem;
}
.rechargeStatusTime{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: #000000;
	width: 70%;
}
.rechargeStatusResult{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: rgba(0, 0, 0, 0.2);
	width: 30%;
	text-align: right;
}
.rechargePay{
	width:100%;
	margin-bottom: 0.106666rem;
}
.rechargePay>span,.rechargePower>span{
	font-size: 0.32rem;
	color: rgba(0, 0, 0, 0.39);
}
.rechargePay>span:nth-of-type(1),.rechargePower>span:nth-of-type(1){
	margin-right: 0.32rem;
}
.rechargeMore{
	width: 100%;
	text-align: center;
	font-size:0.373333rem;
	color:  #000000;
	opacity: 0.6;
	margin-top:0.213333rem ;
}


/*map*/
.map{
	opacity: 0;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative;
}
.mapHeader{
	width: 100%;
	font-size: 0;
	/*background-color: #fbdc43;*/
	background-color: #377dff;
	padding: 0.12rem 0.64rem 0.16rem 0.64rem;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.mapHeaderLeft{
	width: 87.46%;
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}
.mapHeaderImg{
	width: 13.28%;
	display: inline-block;
	vertical-align: middle;
}
.mapHeaderSearch{
	width: 86.72%;
	padding-left: 0.146666rem;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}
.mapHeaderSearch>input{
	width: 100%;
	padding-left: 0.28rem;
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-radius: 0;
	font-size: 0.48rem;
	color: white;
	/*padding-bottom: 0.053333rem;*/
	padding-bottom: 0.08rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.mapHeaderSearch>input::-moz-placeholder,
.mapHeaderSearch>input::-ms-input-placeholder,
.mapHeaderSearch>input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.22);
}

.mapHeaderIcon{
	width: 5.5%;
	margin-left: 7.04%;
	display: inline-block;
	vertical-align: middle;
}
.mapContent{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.mapFooter{
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	bottom: 1.04rem;
	font-size: 0;
}
.mapFooterBrowser,.mapFooterReturn{
	width:28% ;
	display: inline-block;
	vertical-align: middle;
}
.mapFooterBrowser{
	margin:0 20.5% 0 11.7% ;
}
.mapFooterReturn{
	margin-right: 11.7%;
}

.mapList{
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/map-bg.png);
	background-size: cover;
	padding-top: 1.733333rem;
	box-sizing: border-box;
}
.mapListHeader{
	position: absolute;
	top: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	padding: 0.213333rem 0.453333rem;
	box-sizing: border-box;
	font-size: 0;
}
.mapListHeaderLeft{
	width: 90.76%;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 0.053333rem;
	border-bottom: solid 1px rgba(255, 255, 255, 0.6);
	box-sizing: border-box;
}
.mapListHeaderImg{
	width:11.3% ;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1.5%;
}
.mapListHeaderSearch{
	width: 87.2%;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0.266666rem;
	box-sizing: border-box;
	border-left:1px solid rgba(255, 255, 255, 0.6);
}
.mapListHeaderSearch>input{
	width: 100%;
	line-height: 0.586666rem;
	border: none;
	border-radius: 0;
	background: transparent;
	font-size: 0.48rem;
	color: #FFFFFF;
}
.mapHeaderSearch>input::-moz-placeholder,
.mapHeaderSearch>input::-ms-input-placeholder,
.mapHeaderSearch>input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.22);
	line-height: 0.586666rem;
}
.mapListHeaderIcon{
	width: 5.86%;
	margin-left: 3.38%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
.mapListContent{
	/*margin-top: 0.346666rem;*/
	width: 100%;
	height: 100%;
	padding: 0rem 0.453333rem;
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.mapListOne{
	width: 100%;
	background: #FFFFFF;
	border-radius: 0.213333rem;
	padding: 0 0.186666rem;
	box-sizing: border-box;
	margin-bottom: 0.293333rem;
}
.mapListOneContent{
	padding: 0.64rem 0.053333rem 0.6rem 0.533333rem;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 0;
}
.mapListOneContentLeft{
	width: 60%;
	display: inline-block;
	vertical-align: middle;
}
.mapListOneContentLeft>p:nth-of-type(1){
	font-size: 0.426666rem;
	color: #000000;
}
.mapListOneContentLeft>p:nth-of-type(2){
	font-size: 0.32rem;
	color: rgba(0, 0, 0, 0.35);
}
.mapListOneContentRight{
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	font-size: 0.426666rem;
	color: rgba(0, 0, 0, 0.44);
}
.mapListOneIcon{
	width: 100%;
	font-size: 0;
	padding: 0.2rem 0 0.186666rem;
}
.mapListOneIconOne{
	width: 25%;
	box-sizing: border-box;
	border-right: 1px solid #979797;
	display: inline-block;
	vertical-align: middle;
}
.mapListOneIconOne:last-child{
	border-right: none;
}
.mapIcon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.48rem;
	margin-left: 0.186666rem;
}
.mapIcon1{
	width: 0.373333rem;
}
.mapIcon2{
	width: 0.373333rem;
}
.mapIcon3{
	width: 0.506666rem;
}
.mapNum{
	display: inline-block;
	vertical-align: middle;
	line-height: 0.666666rem;
	font-size: 0.533333rem;
	color: #75aeff;
}
.mapText{
	font-size: 0.32rem;
	color: #000000;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.48rem;
	margin-left: 0.186666rem;
}
.noMapNum{
	color: rgba(0, 0, 0, 0.2);
}


/*return page*/
.return{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
.returnImg{
	overflow: hidden;
	margin: 22.83% auto 7.73% auto;
	width: 33.6%;
}
.returnText{
	text-align: center;
}
.returnText>p{
	opacity: 0.7;
	font-size: 0.426666rem;
	color: #343434;
	margin-bottom: 0.546666rem;
}
.returnText>p>span{
	color: #2b63ff;
}
.returnBtn{
	position: absolute;
	bottom: 0.666666rem;
	width:85.6% ;
	left: 7.2%;
}


/*browser page*/
.browser{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}
/******************* PRELOADER 5 **********
*******************************************/
/*
#preloader5{
	margin: 0 auto;
	position:relative;
	width:0.8rem;
	height:0.8rem;
	background:#3498db;
	border-radius:1.333333rem;
	-webkit-animation: preloader_5 1.5s infinite linear;
	-moz-animation: preloader_5 1.5s infinite linear;
	-ms-animation: preloader_5 1.5s infinite linear;
	animation: preloader_5 1.5s infinite linear;
}
#preloader5:after{
	position:absolute;
	width:1.333333rem;
	height:1.333333rem;
	border-top:0.266666rem solid #9b59b6;
	border-bottom:0.266666rem solid #9b59b6;
	border-left:0.266666rem solid transparent;
	border-right:0.266666rem solid transparent;
	border-radius:1.333333rem;
	content:'';
	top:-0.533333rem;
	left:-0.533333rem;
	-webkit-animation: preloader_5_after 1.5s infinite linear;
	-moz-animation: preloader_5_after 1.5s infinite linear;
	-ms-animation: preloader_5_after 1.5s infinite linear;
	animation: preloader_5_after 1.5s infinite linear;
}


@-webkit-keyframes preloader_5 {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(180deg);background:#2ecc71;}
    100% {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes preloader_5_after {
    0% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
    50% {border-top:0.266666rem solid #3498db;border-bottom:0.266666rem solid #3498db;}
    100% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
}


@-moz-keyframes preloader_5 {
    0% {-moz-transform: rotate(0deg);}
    50% {-moz-transform: rotate(180deg);background:#2ecc71;}
    100% {-moz-transform: rotate(360deg);}
}
@-moz-keyframes preloader_5_after {
    0% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
    50% {border-top:0.266666rem solid #3498db;border-bottom:0.266666rem solid #3498db;}
    100% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
}

@-ms-keyframes preloader_5 {
    0% {-ms-transform: rotate(0deg);}
    50% {-ms-transform: rotate(180deg);background:#2ecc71;}
    100% {-ms-transform: rotate(360deg);}
}
@-ms-keyframes preloader_5_after {
    0% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
    50% {border-top:0.266666rem solid #3498db;border-bottom:0.266666rem solid #3498db;}
    100% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
}

@keyframes preloader_5 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);background:#2ecc71;}
    100% {transform: rotate(360deg);}
}
@keyframes preloader_5_after {
    0% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
    50% {border-top:0.266666rem solid #3498db;border-bottom:0.266666rem solid #3498db;}
    100% {border-top:0.266666rem solid #9b59b6;border-bottom:0.266666rem solid #9b59b6;}
}*/
#preloader_4{
	position:relative;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
}
#preloader_4 span{
	display: inline-block;
	position:relative;
	width:0.4rem;
	height:0.4rem;
	background:#3498db;
	opacity:0.5;
	border-radius:0.4rem;
	-webkit-animation: preloader_4 1s infinite ease-in-out;
	-moz-animation: preloader_4 1s infinite ease-in-out;
	-ms-animation: preloader_4 1s infinite ease-in-out;
	-animation: preloader_4 1s infinite ease-in-out;

}
#preloader_4 span:nth-child(2){
	/*left:0.4rem;*/
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-ms-animation-delay: .2s;
	animation-delay: .2s;
}
#preloader_4 span:nth-child(3){
	/*left:0.8rem;*/
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-ms-animation-delay: .4s;
	animation-delay: .4s;
}
#preloader_4 span:nth-child(4){
	/*left:1.2rem;*/
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	-ms-animation-delay: .6s;
	animation-delay: .6s;
}
#preloader_4 span:nth-child(5){
	/*left:1.6rem;*/
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-ms-animation-delay: .8s;
	animation-delay: .8s;
}

@-webkit-keyframes preloader_4 {
    0% {opacity: 0.3; -webkit-transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
    50% {opacity: 1; -webkit-transform: translateY(-0.2rem); background:#f1c40f;	box-shadow: 0px 0.4rem 0.06rem rgba(0, 0, 0, 0.05);}
  	100%  {opacity: 0.3; -webkit-transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
}
@-moz-keyframes preloader_4 {
    0% {opacity: 0.3; -moz-transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
    50% {opacity: 1; -moz-transform: translateY(-0.2rem); background:#f1c40f;	box-shadow: 0px 0.4rem 0.06rem rgba(0, 0, 0, 0.05);}
  	100%  {opacity: 0.3; -moz-transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
}
@-ms-keyframes preloader_4 {
    0% {opacity: 0.3; -ms-transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
    50% {opacity: 1; -ms-transform: translateY(-0.2rem); background:#f1c40f;	box-shadow: 0px 0.4rem 0.06rem rgba(0, 0, 0, 0.05);}
  	100%  {opacity: 0.3; -ms-transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
}
@keyframes preloader_4 {
    0% {opacity: 0.3; transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
    50% {opacity: 1; transform: translateY(-0.2rem); background:#f1c40f;	box-shadow: 0px 0.4rem 0.06rem rgba(0, 0, 0, 0.05);}
  	100%  {opacity: 0.3; transform:translateY(0px);	box-shadow: 0px 0px 0.06rem rgba(0, 0, 0, 0.1);}
}

.browserText{
	margin-top: 0.4rem;
	text-align: center;
}
.browserText>span:nth-of-type(1){
	width: 0.64rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.266666rem;
}
.browserText>span:nth-of-type(2){
	display: inline-block;
	vertical-align: middle;
	font-size: 0.373333rem;
	color: #000000;
	opacity: 0.6;
}

/*withdraw page*/
.withdraw{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	background: #eeeeee;
	position: relative;
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.withdraw .minirefresh-scroll{
	padding: 0.266666rem 0.48rem 1.066666rem 0.48rem;
	box-sizing: border-box;
}
.withdrawTitle{
	font-size: 0.586666rem;
	color: #060606;
	margin-bottom: 0.293333rem;
}
.withdrawContent{
	width: 100%;
}
.withdrawContentList{
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 0.346666rem;
	 border-radius: 0.213333rem;
	 padding: 0.24rem 0.453333rem 0.186666rem 0.64rem;
	 box-sizing: border-box;
}
.withdrawLine1{
	width: 100%;
	font-size: 0;
	margin-bottom: 0.106666rem;
}
.withdrawText{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.4rem;
	 color: #000000;
}
.withdrawMoney{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.426666rem;
	color: #3178fc;
	text-align: right;
}
.withdrawLine2{
	width: 100%;
	font-size: 0;
}
.withdrawTime{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	color: #9c9c9c;
	font-size: 0.32rem;
}
.withdrawStatus{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.32rem;
	color: #9c9c9c;
	text-align: right;
}
.withdrawMore{
	width: 100%;
	text-align: center;
	font-size:0.373333rem;
	color:  #000000;
	opacity: 0.6;
	margin-top:0.213333rem ;
}


/*issue page*/
.issue{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding-bottom:1.466666rem;
	box-sizing: border-box;
}
.issueList{
	width: 100%;
	padding:0 0.453333rem ;
	box-sizing: border-box;
	position: relative;
}
.issueListOne{
	width: 100%;
}
.issueListOneTitle{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding:0.4rem 0;
	font-size: 0.373333rem;
	color: #000000;
}
/*.issueListOneTitleArrow{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	width: ;
}*/
.issueListOneTitleArrow{
	position: absolute;
	width: 0.48rem;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.activeIssue .issueListOneTitleArrow{
	transform: translateY(-50%) rotate(-180deg);
	-webkit-transform: translateY(-50%) rotate(-180deg);
	-moz-transform: translateY(-50%) rotate(-180deg);
	-ms-transform: translateY(-50%) rotate(-180deg);
	-o-transform: translateY(-50%) rotate(-180deg);
}
.issueListOneContent{
	padding: 0.306666rem 0.773333rem 0  0rem;
	box-sizing: border-box;
	 font-size: 0.32rem;
	  color: #000000;
	   opacity: 0.4;
	   display: none;
}
.issueFooter{
	position: absolute;
	bottom: 0.76rem;
	text-align: center;
	left: 0;
	width: 100%;
}
.issueFooter>span:nth-of-type(1){
	width: 0.4rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.266666rem;
}
.issueFooter>span:nth-of-type(2){
	display: inline-block;
	vertical-align: middle;
	font-size: 0.373333rem;
	opacity: 0.6;
	color: #000000;
}

/*about page*/
.about{
	width: 100%;
	height: 100%;
	/*overflow-y: scroll;
	-webkit-overflow-scrolling: touch;*/
	overflow: hidden;
	/*padding:65.33% 0.56rem 20% 0.56rem;*/
	box-sizing: border-box;
	position: relative;
	padding-top: 0.1px;
}
.logo{
	position: relative;
	width:48.1% ;
	margin: 0.626666rem auto 0.413333rem auto;
}	
.aboutContainer{
	width: 100%;
	max-height: 6.893333rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding:0 0.56rem ;
	box-sizing: border-box;
}
.aboutContainer>p{
	font-size: 0.426666rem;
	opacity: 0.7;
	color: #a9a9a9;
	margin-bottom: 0.28rem;
}
.aboutContainer>p:nth-of-type(1){
	margin-bottom: 0.973333rem;
}
